<!-- homepage -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Careers!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        #banner {
        width: 100%;
        height: 400px;

        }
    </style>
  </head>
  <body>
    <div class="container">
        <h1 class="text-center mb-3 mt-3">Careers Website</h1>
        <img
        src="static/banner.jpg"
        class="img-fluid"
        alt="banner"
        id="banner"
      />
    </div>
    
   
    <h2 class="text-center mt-4">About Us</h2>
    <div class="container lead">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla adipisci quis, ratione omnis ea similique dolorum atque inventore cupiditate molestiae delectus illum eveniet in dolores! Ad maxime dicta animi in.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed possimus officiis eum unde suscipit voluptas. Unde numquam aut laboriosam praesentium ipsa quaerat quia ratione quos quidem nostrum iusto, commodi quasi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis nesciunt ipsam nemo deserunt magni, nulla enim cum dolor veritatis earum quos, facere iste inventore. Omnis dignissimos quos perferendis temporibus.
        
        </p>
    </div>

    <h2 class="text-center">Open Positions</h2>
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/nvidia.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

  </body>
</html>
